<!-- add modal start -->
<div id="addgeneralwelmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">  
    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Add new Welfare & Motivation Details</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <!-- form start -->
          <form role="form">

            <!-- card body start -->
            <div class="row">
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="start-date">Welfare ID</label>
                  <input type="email" class="form-control" id="id1" name="name1" placeholder="Welfare ID" disabled>
                </div>
              </div> -->
              
              <div class="col-md-12">
                <div class="form-group">
                  <label for="end-date"> Welfare & Motivation</label>
                  <input type="text" class="form-control" name="name2" placeholder="Enter Welfare & Motivation">
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="end-date"> Allocation Details</label>
                  <textarea type="text" class="form-control" name="name2" placeholder="Enter Allocation Details"></textarea>
                </div>
              </div>
             
            </div>
          </form>
          <!-- form end -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
      </div>
    </div>
    <!-- modal content end -->

  </div>
</div>
<!-- add modal end -->

