<!-- edit modal start -->
<div id="edit-inquire-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="card-title">Edit Inquire Applicants</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
  
            <!-- card body start -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-primary">
  
               <!-- form start -->
               <form role="form">
  
                  <!-- card body start -->
                  <div class="card-body">
  
                    <div class="row">
  
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="departmentName">Name</label>
                          <input type="text"class="form-control" placeholder="Enter Name">
                       
                        </div>
                      </div>
  
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="employeeName">NIC</label>
                          <input type="text"class="form-control" placeholder="Enter NIC number">
                         
                        </div>
                      </div>
                    </div>

                      <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="position">Contact No</label>
                          <input type="text" class="form-control"  placeholder="Telephone Number" >
                        </div>
                      </div>
                    
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="position">Higher Qualification </label>
                          <input list="qualification" class="form-control" placeholder=" Months">
                          <datalist id="qualification">
                              <option value="NVQ 3 Certificate"></option>
                              <option value="NVQ 5 Diploma"></option>
                              <option value="NVQ 6 HND"></option>
                              <option value="NVQ 7 Degree"></option>                            
                            </datalist>
                        </div>
                      </div>
                    </div>
  
  
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="position">Email</label>
                          <input type="email" class="form-control" name="position" id="position" placeholder=" Enter email ID">
                          
                        </div>
                      </div> 
                      
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="position">Attached CV</label>
                            <input type="file" class="form-control" name="position" id="position" placeholder="">
                            <!-- <textarea class="form-control" placeholder="Qualifications"></textarea> -->
                          </div>
                        </div> 
                    </div>

                  </div>
                  <!-- card body end -->
  
                </form>
                <!-- form end -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      <!-- modal content end -->
    </div>
  </div>
  <!-- edit modal end -->
  