<!-- Modal -->
<div class="modal fade" id="job-role-template-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Job Role Template</h5>

      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p><strong>Job title:</strong> (1)</p>
          </div>
          <div class="col-md-6">
            <p><strong>Reporting to:</strong> (2) will report to (3)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><strong>Job overview:</strong> (4)</p>
          </div>
          <div class="col-md-6">
            <p><strong>Responsibilities and Duties</strong>(5)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><strong>Education level:</strong>(6)</p>
          </div>
          <div class="col-md-6">
            <p><strong>Personal Characteristics:</strong>(7)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><strong>Academic or trade qualifications:</strong>(8)</p>
          </div>
          <div class="col-md-6">
            <p><strong>Work experience and skills:</strong>(9)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><strong>Certifications:</strong>(10)</p>
          </div>
          <div class="col-md-6">
            <p><strong>Licenses(11)</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><strong>Physical abilities:</strong>(12)</p>
          </div>
          <div class="col-md-6">
            <p><strong>Date:</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p><strong>Manager Signature: .............................</strong></p>
          </div>

        </div>


      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Edit</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Print</button>
        <button class="btn btn-danger" (click)="onNoClick()" data-dismiss="modal">Delete</button>

      </div>
    </div>
  </div>
</div>