<!-- edit modal start -->
<div id="edit-grade-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- modal content start -->
    
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="card-title">Edit Grade</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <!-- card body start -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card card-primary">

                  <!-- form start -->
                  <form role="form">
                    <!-- card body start -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="gradeId">Grade Id</label>
                            <input type="number" class="form-control" name="gradeId" id="gradeId" placeholder="Grade Id" readonly>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="grade">Grade</label>
                            <input type="text" class="form-control" name="grade" id="grade" placeholder="Grade">
                          </div>
                        </div>
                      

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="gradeVal">Grade Value</label>
                          <input type="text" class="form-control" name="gradeVal" id="gradeVal" placeholder="Grade Value">
                        </div>
                      </div>
                      </div>
                  
                    </div>
                    <!-- card body end -->
                  </form>
                  <!-- form end -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    <!-- modal content end -->
  </div>
</div>
<!-- edit modal end -->