<!--  add termination records start -->
<div class="row">
  <div class="col-md-8">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Allocate Leave</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <!-- form start -->
            <form role="form">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="allocate-leave-leavetype">Leave Type</label>
                    <input type="text" class="form-control" name="allocate-leave-leavetype" id="allocate-leave-leavetype" placeholder="Leave Type">
                  </div>
                </div>
              </div>
              <div class="card card-primary">
                <div class="card-body">
                  <!--appointment type row start-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="allocate-leave-appointmenttype">Appointment Type</label>
                        <input type="text" class="form-control" name="allocate-leave-appointmenttype" id="allocate-leave-appointmenttype" placeholder="Appointment" readonly>
                      </div>
                    </div>
                    <div class="col-md-5 offset-1">
                      <div class="form-group">
                        <label for="allocate-leave-allocationdays">Allocation Days</label>
                        <input type="number" class="form-control" name="allocate-leave-allocationdays" id="allocate-leave-allocationdays" placeholder="Allocation Days">
                      </div>
                    </div>
                  </div>
                  <!--appointment type row end-->
                </div>
              </div>
            </form>
            <!-- form end -->
          </div>
        </div>

      </div>
      <!-- card body end -->
      <div class="card-footer">
        <button type="button" class="btn btn-primary" >Allocate</button>
      </div>
    </div>
  </div>
</div>
<!-- add termination record end -->


