

<div class="row">
  <div class="col-md-12">
    <div class="card">

        <div class="container mt-3">
         
      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">General Welfare</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">
          <div class="col">
            <div class="float-right">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addgeneralwelmodal">
                  + Add
                </button>
            </div>
            </div>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        

        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>

            <!-- column 1 start -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Welfare ID</mat-header-cell>
              <mat-cell *matCellDef="let generalwelfare"> {{generalwelfare.id}} </mat-cell>
            </ng-container>
            <!-- column 1 end -->

            <!-- column 2 start -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Welfare & Motivation </mat-header-cell>
              <mat-cell *matCellDef="let generalwelfare "> {{generalwelfare.name}}</mat-cell>
            </ng-container>
            <!-- column 2 end -->

             <!-- column 3 start -->
             <ng-container matColumnDef="allocationdetails">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Allocation Details </mat-header-cell>
              <mat-cell *matCellDef="let generalwelfare"> {{generalwelfare.allocationdetails}} </mat-cell>
            </ng-container>
            <!-- column 3 end -->

             <!-- column 4 start -->
             <ng-container matColumnDef="edit/delete">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Edit/Delete </mat-header-cell>
              <mat-cell *matCellDef="let generalwelfare"> 
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editgeneralwelmodal">
                Edit
              </button> &nbsp;&nbsp;
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletegeneralwelmodal">
                  Delete
                </button>
              </mat-cell>
            </ng-container>
            <!-- column 4 end -->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <!-- pagination start -->
          <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
          <!-- pagination end -->
        </div>
      </div>
      <!-- card body end -->
      
    </div>
  </div>
</div>
<app-add-general-welfare></app-add-general-welfare>
<app-edit-general-welfare></app-edit-general-welfare>


  

