<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">add-attachment</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="file-upload">Document Name </label>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" id="document-name" placeholder="Document Name">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-2">
              <label for="file-upload">Upload File </label>
            </div>

            <div class="col-md-3">
              <input class="form-control validate" name="job-application" id="job-application" type="file" placeholder="Upload Job application">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="float-right">
                  <button type="button" class="btn btn-primary">Add</button>
              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
      <!-- card body end -->
    </div>
  </div>
</div>