<p>
  add-profile-info works!
</p>
<div class="row">
  <div class="col-md-12">
    <div class="stepwizard">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a routerLink="generalInfo" class="btn btn-default btn-circle" routerLinkActive="active">1</a>
          <p>General Information</p>
        </div>
        <div class="stepwizard-step">
          <a routerLink="academicInfo" class="btn btn-default btn-circle" routerLinkActive="active">2</a>
          <p>Academic Qualification</p>
        </div>
        <div class="stepwizard-step">
          <a routerLink="professionalQualification" class="btn btn-default btn-circle" routerLinkActive="active">3</a>
          <p>Professional Qualification</p>
        </div>
        <div class="stepwizard-step">
          <a routerLink="recordOfEmp" class="btn btn-default btn-circle" routerLinkActive="active">4</a>
          <p>Record Of Employment</p>
        </div>
        <div class="stepwizard-step">
          <a routerLink="referees" class="btn btn-default btn-circle" routerLinkActive="active">5</a>
          <p>Referees</p>
        </div>
        <div class="stepwizard-step">
          <a routerLink="attachment" class="btn btn-default btn-circle" routerLinkActive="active">6</a>
          <p>Appointment add-attachment</p>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>