<mat-tab-group>
    <mat-tab label="Trainee Course Details"> <app-trainee-course-details></app-trainee-course-details></mat-tab>
    <mat-tab label="Printable Document "> <app-view-course-details></app-view-course-details> </mat-tab> 
    <mat-tab label="Add Grade"> <app-add-grade></app-add-grade> </mat-tab>
    <mat-tab label="Add Course Details"> <app-course-details></app-course-details> </mat-tab>
    <mat-tab label="View Grade Details"> <app-view-grade></app-view-grade> </mat-tab>
</mat-tab-group>

