<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Termination Requests</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->      
      <!-- card body start -->
      <div class="card-body">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8 mb-3">
          <mat-table [dataSource]="dataSource" matSort>
            <!-- column 1 start -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Trainee Name </mat-header-cell>
              <mat-cell *matCellDef="let Approvetermination"> {{Approvetermination.name}} </mat-cell>
            </ng-container>
            <!-- column 1 end -->
            <!-- column 2 start -->
            <ng-container matColumnDef="requestedDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Requested Date </mat-header-cell>
              <mat-cell *matCellDef="let Approvetermination"> {{Approvetermination.requestedDate}}</mat-cell>
            </ng-container>
            <!-- column 2 end -->
            <!-- column 3 start -->
            <ng-container matColumnDef="reason">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Reason </mat-header-cell>
              <mat-cell *matCellDef="let Approvetermination"> {{Approvetermination.reason}} </mat-cell>
            </ng-container>
            <!-- column 3 end -->
           <!-- column 5 start -->
           <ng-container matColumnDef="accept">
            <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
            <mat-cell *matCellDef="let Approvetermination"> 
              <button class="btn btn-primary" data-toggle="modal" data-target="#accept-termination-confirm-modal">Accept</button>&nbsp;
              <button class="btn btn-danger" data-toggle="modal" data-target="#reject-termination-confirm-modal">Reject</button>
            </mat-cell>
          </ng-container>
          <!-- column 5 end -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <!-- pagination start -->
          <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
          <!-- pagination end -->
        </div>
      </div>
      <!-- card body end -->      
    </div>
  </div>
</div>
<app-trainee-termination-accept-modal></app-trainee-termination-accept-modal>
<app-trainee-termination-reject-modal></app-trainee-termination-reject-modal>