<div id="edit-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Accept Complain</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <!-- form start -->
            <form role="form" #roleForm="ngForm">
                <div class="row">
                    <div class="col-md-2">
                      <label for="exampleInputEmail1">Add Type</label></div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <input type="text " [(ngModel)]="selfServiceTypeObj.selfServiceTypeName" class="form-control" placeholder="Self Service Type" name="selfServiceTypeName">
                      </div>
                    </div>
                  </div>
            </form>
            <!-- form end -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateSelfServiceType()">Save</button>
        </div>
      </div>
      <!-- modal content end -->
    </div>
  </div>
