<div id="delete-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title"></h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <!-- form start -->
            <form role="form">
              <div class="form-group">
                <label>Are you sure Want to delete</label>
              </div>
            </form>
            <!-- form end -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteSelfServiceType()">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
