<div id="view-select-applicant" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="card-title">View Selected applicant</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
  
            <div class="mat-elevation-z8">
              <mat-table [dataSource]="dataSource" matSort>
                <!-- column 0 start -->
                <ng-container matColumnDef="fname">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Full Name </mat-header-cell>
                  <mat-cell *matCellDef="let viewEmp">{{viewEmp.fname}}</mat-cell>
                </ng-container>
                <!-- column 0 end -->
  
                <!-- column 1 start -->
                <ng-container matColumnDef="appoinmentDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Appoinment Date </mat-header-cell>
                  <mat-cell *matCellDef="let viewEmp">{{viewEmp.appoinmentDate}}</mat-cell>
                </ng-container>
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
  
            </div>
            
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- modal content end -->

  </div>
</div>