
<div id="addresponsemodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title"> Add Response.</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <!-- form start -->
            <form role="form">
              <!-- card body start -->
              <div class="row">
  
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="end-date">Reply Message</label>
                    <textarea class="form-control"></textarea>
                  </div>
                </div>
  
                <!-- <div class="col-md-12">
                  <div class="form-group">
                    <label for="Attach-Termination-letter">Attach Resignation letter</label>
                    <input type="file" class="form-control">
                  </div>
                </div> -->
  
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="leave-type">Relevant Department/ Individuals </label>
                    <select class="form-control" id="allowance" name="allowance">
                      <option default selected hidden>Relevant Department/ Individuals</option>
                      <option>CSE</option>
                      <option>CS</option>
                      <option>QA</option>
                      <option>QS</option>
                    </select>
                  </div>
                </div>
                
              </div>
            </form>
            <!-- form end -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"> Add</button>
        </div>
      </div>
      <!-- modal content end -->
    </div>
  </div>