<div id="reject-termination-confirm-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Request discussion </h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <!-- form start -->
          <form role="form">
            <!--Body table start-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="title-of-discussion">Title of the discussion</label>
                  <input type="text" class="form-control" id="title-of-discussion" name="title-of-discussion" placeholder="Enter Title of the discussion ">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="discussion-date">Date </label>
                  <input type="text" mwlFlatpickr class="form-control" id="discussion-date" name="discussion-date" placeholder="yyyy/mm/dd">
                </div>

                



              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="remark">Venue</label>
                  <input type="text" class="form-control" id="remark" name="remark" placeholder="Enter Venue">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="salary">Invitees</label>
                  <input type="text" class="form-control" id="salary" name="salary" placeholder="Invitees">
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="salary">Special Notes</label>
                  <textarea type="text" class="form-control" id="salary" name="salary" placeholder="Enter Special Notes"></textarea>
                </div>
              </div>
            </div>
            <!--Body table end-->
          </form>
        </div>
      </div>
      <!--card body end-->

      <!--card footer start-->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancle</button>
      </div>
      <!--card footerend-->
    </div>
    <!-- modal content end -->
  </div>
</div>