<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title"></h5>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <h5>exp-letter-view-history</h5>
        <div class="mat-elevation-z8 mb-3">
          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="requestedDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Date requested </mat-header-cell>
              <mat-cell *matCellDef="let expLetterRequest"> {{expLetterRequest.createdAt}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="reason">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Reason</mat-header-cell>
              <mat-cell *matCellDef="let expLetterRequest"> {{expLetterRequest.reason}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
              <mat-cell *matCellDef="let expLetterRequest"> {{expLetterRequest.status}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="issuedDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Date Issued </mat-header-cell>
              <mat-cell *matCellDef="let expLetterRequest"> {{expLetterRequest.issuedDate}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="provided">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Provided service letter</mat-header-cell>
              <mat-cell *matCellDef="let expLetterRequest"> {{expLetterRequest.provided}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <!-- pagination start -->
          <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
          <!-- pagination end -->
        </div>
      </div>
      <!-- card body end -->

    </div>
  </div>
</div>