<section class="content">
  <!-- tab content start -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1_content" aria-labelledby="tab1_content">
      <!-- <app-request-leave></app-request-leave> -->

      <!-- appoinment start -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <!-- card header start -->
            <div class="card-header">
              <h5 class="card-title">Interview Selection</h5>
              <div class="card-tools">
               
              </div>
            </div>
            <!-- card header end -->

            <!-- card body start -->
            <div class="card-body">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>

              <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort>

                  <!-- column 1 start -->
                  <ng-container matColumnDef="s_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </mat-header-cell>
                    <mat-cell *matCellDef="let selection"> {{selection.s_name}} </mat-cell>
                  </ng-container>
                  <!-- column 1 end -->

                  <!-- coloumn 2 start -->
                  <ng-container matColumnDef="s_email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                    <mat-cell *matCellDef="let selection"> {{selection.s_email}} </mat-cell>
                  </ng-container>
                  <!-- coloumn 2 end -->

                  <!-- column 3 start -->
                  <ng-container matColumnDef="s_cv">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> CV </mat-header-cell>
                    <mat-cell *matCellDef="let selection"> <a href="">{{selection.s_cv}}</a></mat-cell>
                  </ng-container>
                  <!-- column 3 end -->

                  <!-- coloumn 4 start-->
                  <ng-container matColumnDef="s_select">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                    <mat-cell *matCellDef="let selection"> <button class="btn btn-primary" data-toggle="modal"
                        data-target="#select">Select</button>&nbsp;
                        <button class="btn btn-danger" data-toggle="modal"
                        data-target="#reject">Reject</button>
                      </mat-cell>
                  </ng-container>
                  <!-- coloumn 4 end -->

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <!-- pagination start -->
                <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
                <!-- pagination end -->
              </div>
            </div>
            <!-- card body end -->
          </div>
        </div>
      </div>



    </div>




    <!-- <div class="tab-pane fade" id="tab2_content" aria-labelledby="tab2_content">
            <app-leave-history></app-leave-history>
          </div>
          <div class="tab-pane fade" id="tab3_content" aria-labelledby="tab3_content">
            <app-request-leave></app-request-leave>
          </div> -->
  </div>
  <!-- tab content end -->

</section>



<app-reject-interview-selection></app-reject-interview-selection>
<app-select-interview-selection></app-select-interview-selection>
