<!-- Add modal start -->
<div id="addmodal22" class="modal fade" role="dialog">
  <div class="modal-dialog">  
    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Add Payment Details</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <!-- form start -->
          <form role="form">

            <!-- card body start -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="start-date"> ID</label>
                  <input type="email" class="form-control" id="id1" name="name1" placeholder=" ID" disabled>
                </div>
              </div>
              
              <div>
                <div class="form-group">
                  <label for="end-date"> Name of the trainer </label>
                  <input type="text" class="form-control" name="name2" placeholder="Enter Trainer name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-06">
                <div class="form-group">
                  <label for="end-date"> Availability Date </label>
                  <input type="date" class="form-control" name="name3" placeholder="Enter Availability dates">
                </div>
              </div>
              &nbsp; &nbsp;
              <div class="col-md-06">
                <div class="form-group">
                  <label for="end-date"> Amount </label>
                  <input type="datetime" class="form-control" name="name4" placeholder="Enter the amount">
                </div>
              </div>
            
            </div>
          </form>
          <!-- form end -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Add </button>
      </div>
    </div>
    <!-- modal content end -->

  </div>
</div>
<!-- add modal end -->




