<!-- add modal start -->
<div id="select" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Invitation For Interview</h6>
  
        </div>
        <!-- Body start -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="start-date">Name</label>
                <input type="text" class="form-control" id="name" readonly>
              </div>
            </div>
  
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="appointment-date">Date</label>
                <input type="text" class="form-control" mwlFlatpickr name="dob" id="dob" placeholder="dd/mm/yyyy">
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="appointment-date">Time</label>
  
                <input type="time" class="form-control" />
  
              </div>
            </div>
  
  
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Place</label>
                <select class="form-control">
                  <option>Location1</option>
                  <option>Location2</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Applied Post</label>
                <select class="form-control">
                  <option>post1</option>
                  <option>post2</option>
                </select>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="start-date">Email</label>
                <input type="email" class="form-control" id="email" readonly>
              </div>
            </div>
  
  
  
          </div>
        </div>
        <!-- Body end -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
        </div>
      </div>
      <!-- modal content end -->
  
    </div>
  </div>
  <!-- add modal end --><!-- add modal start -->
<div id="select" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Invitation For Interview</h6>
  
        </div>
        <!-- Body start -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="start-date">Name</label>
                <input type="text" class="form-control" id="name" readonly>
              </div>
            </div>
  
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="appointment-date">Date</label>
                <input type="text" class="form-control" mwlFlatpickr name="dob" id="dob" placeholder="dd/mm/yyyy">
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="appointment-date">Time</label>
  
                <input type="time" class="form-control" />
  
              </div>
            </div>
  
  
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Place</label>
                <select class="form-control">
                  <option>Location1</option>
                  <option>Location2</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Applied Post</label>
                <select class="form-control">
                  <option>post1</option>
                  <option>post2</option>
                </select>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="start-date">Email</label>
                <input type="email" class="form-control" id="email" readonly>
              </div>
            </div>
  
  
  
          </div>
        </div>
        <!-- Body end -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
        </div>
      </div>
      <!-- modal content end -->
  
    </div>
  </div>
  <!-- add modal end --><!-- add modal start -->
<div id="select" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Invitation For Interview</h6>
  
        </div>
        <!-- Body start -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="start-date">Name</label>
                <input type="text" class="form-control" id="name" readonly>
              </div>
            </div>
  
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="appointment-date">Date</label>
                <input type="text" class="form-control" mwlFlatpickr name="dob" id="dob" placeholder="dd/mm/yyyy">
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="appointment-date">Time</label>
  
                <input type="time" class="form-control" />
  
              </div>
            </div>
  
  
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Place</label>
                <select class="form-control">
                  <option>Location1</option>
                  <option>Location2</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Applied Post</label>
                <select class="form-control">
                  <option>post1</option>
                  <option>post2</option>
                </select>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="start-date">Email</label>
                <input type="email" class="form-control" id="email" readonly>
              </div>
            </div>
  
  
  
          </div>
        </div>
        <!-- Body end -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
        </div>
      </div>
      <!-- modal content end -->
  
    </div>
  </div>
  <!-- add modal end -->