

<!-- request leave start -->
<div class="row">
  <div class="col-md-4">
    <div class="card">

      <!-- card header start -->
      <div class="card-header card-header">
        <h5 class="card-title">Initiate Invoice</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">
                <div class="pull-left">
                  <!-- card body start -->
                  <div class="payment-initiation">
                      &nbsp;&nbsp;&nbsp;Date : 2018-10-12
                  </div>
                  <div class="payment-initiation">
                      &nbsp;&nbsp;&nbsp;Invoice No : 123
                  </div>

                  <div class="payment-initiation">
                    &nbsp;&nbsp;&nbsp;Reason :  fee
                </div>

                <div class="payment-initiation">
                  &nbsp;&nbsp;&nbsp;Amount : Rs.20000
              </div>

              <div class="payment-initiation">
                &nbsp;&nbsp;&nbsp;Invoive Send By : .....
            </div>

                </div>

                <!-- card body end -->
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>


<!-- request leave end -->
