.payment-initiation{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.icon-group {
    color:blue;
}
.icon-calender {
    color:red;
}
.card-header{
    background-color: #ff5555;
}