<!-- HR and Employee view -->
<div class="row">
  <div class="col-md-12">
    <div class="card">


      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Leave Requests</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->

      <!--filter-->
      <div class="col-md-12">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">

        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <div class="mat-elevation-z8">
              <mat-table [dataSource]="dataSource" matSort>



                <!-- column 0 start -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Employee ID </mat-header-cell>
                  <mat-cell *matCellDef="let leave"> {{leave.id}} </mat-cell>
                </ng-container>
                <!-- column 0 end -->

                <!-- column 1 start -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
                  <mat-cell *matCellDef="let leave"> {{leave.name}} </mat-cell>
                </ng-container>
                <!-- column 1 end -->

                <!-- column 2 start -->
                <ng-container matColumnDef="department">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Department </mat-header-cell>
                  <mat-cell *matCellDef="let leave"> {{leave.department}}</mat-cell>
                </ng-container>
                <!-- column 2 end -->

                <!-- column 3 start -->
                <ng-container matColumnDef="numberofdays">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Number of Days </mat-header-cell>
                  <mat-cell *matCellDef="let leave"> {{leave.numberofdays}}</mat-cell>
                </ng-container>
                <!-- column 3 end -->

                <!-- column 4 start -->
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Leave Type</mat-header-cell>
                  <mat-cell *matCellDef="let leave"> {{leave.type}}</mat-cell>
                </ng-container>
                <!-- column 4 end -->

                <!-- column 5 start -->
                <ng-container matColumnDef="reason">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Reason </mat-header-cell>
                  <mat-cell *matCellDef="let leave"> {{leave.reason}} </mat-cell>
                </ng-container>
                <!-- column 5 end -->

                <!-- column 6 start -->
                <ng-container matColumnDef="accept">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                  <mat-cell *matCellDef="let leave"> <button type="button" class="btn btn-primary" data-target="#accept-modal"
                      data-toggle="modal">{{leave.accept}}</button></mat-cell>
                </ng-container>
                <!-- column 6 end -->

                <!--column 7 start-->
                <ng-container matColumnDef="reject">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                  <mat-cell *matCellDef="let leave"> <button type="button" class="btn btn-danger" data-target="#reject-modal"
                      data-toggle="modal">{{leave.reject}}</button></mat-cell>
                </ng-container>
                <!-- column 7 end -->

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>


                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>

              <!-- pagination start -->
              <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
              <!-- pagination end -->
            </div>
          </div>
          <!-- card body end -->
        </div>
      </div>

    </div>
  </div>
</div>


<app-leave-accept-modal></app-leave-accept-modal>
<app-leave-reject-modal></app-leave-reject-modal>



