<div id="trackpayment" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
            <h3 class="card-title">Add track</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="col-md-12">
    
              <!-- card body start -->
              <div class="card-body">
                <!-- form start -->
                <form role="form">
                  <div class="row">
    
                    <div class="col-md-4">
                      <div class="form-group">
                          <label for="">Payment Id</label>
                          <input type="text" class="form-control" id="paymentid" placeholder="Payment Id">
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                          <label for="">Select date</label>
                          <input type="date" class="form-control" id="selectddate" placeholder="Select date">
                        </div>
                    </div>
    
    
                    <div class="col-md-4">
                      <div class="form-group">
                          <label for="">Current Process track</label>
                          <input type="text" class="form-control" id="process" placeholder="Current Process track" >
                        </div>
                    </div>
         
                  </div>
                  <!-- card body end -->
                </form>
                <!-- form end -->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
          </div>
        </div>
  </div>
</div>