<!-- EditModal -->
<div class="modal fade" id="viewall-view-plan-vacancies" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="vacUpdate">View plan vacancies</h5>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="position">Job Title</label>
              <!-- <select><input type="text" class="form-control" name="position" id="position" placeholder="Enter Position"> -->
              <input type="number" class="form-control" name="medical-leave" id="title" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="medical-leave"> Job reference number</label>
              <input type="number" class="form-control" name="medical-leave" id="number" readonly>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="name"> Hiring officer</label>
              <input type="number" class="form-control" name="medical-leave" id="officer" readonly>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="position">Hiring Department</label>
              <input type="number" class="form-control" name="medical-leave" id="hire" readonly>
            </div>
          </div>



          <div class="col-sm-4">
            <div class="form-group">
              <label for="position">Number of vacancies</label>
              <input type="number" class="form-control" name="medical-leave" id="vacancies" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="position">Type of recruitment </label>
              <input type="number" class="form-control" name="medical-leave" id="type" readonly>
            </div>
          </div>
        </div>


        <div class="row">

          <div class="col-sm-4">
            <div class="form-group">
              <label for="position">Salary scale</label>
              <input type="number" class="form-control" name="medical-leave" id="salary" readonly>
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="form-group">
              <label for="effect-date">Schedule date if any selection exam, interviews & placement</label>
              <input type="number" class="form-control" name="medical-leave" id="scheduleDate" readonly>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="effect-date">Job application Opening date</label>
              <input type="number" class="form-control" name="medical-leave" id="opendate" readonly>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="effect-date">Job application End date</label>
              <input type="number" class="form-control" name="medical-leave" id="enddelete" readonly>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group">
              <label for="name"> Key requirement</label>
              <textarea class="form-control" name="Address"id="key" readonly></textarea>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="onNoClick()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>