<!-- add modal start -->
<div id="addmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">  
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Add new Allowance</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
  
            <!-- form start -->
            <form role="form">
  
              <!-- card body start -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="start-date">Employee ID</label>
                    <input type="email" class="form-control" id="id1" name="name1" placeholder="Enter employee ID">
                  </div>
                </div>
                
                <div>
                  <div class="form-group">
                    <label for="end-date"> Employee Name</label>
                    <input type="text" class="form-control" name="name2" placeholder="Enter Employee Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="leave-type">Allowance </label>
                    <select class="form-control" id="allowance" name="allowance">
                      <option default selected hidden>Select Allowance Type</option>
                      <option>Medical Allowance</option>
                      <option>Allowance for High studies</option>
                      <option>Subscriptions for Professional bodies</option>
                      <option>Travalling Allowance</option>
                      <option>Housing/Accommodation</option>
                      <option>Meal Allowance</option>
                      <option>Mobile Allowance</option>
                      <option>Insurance</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
            <!-- form end -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
        </div>
      </div>
      <!-- modal content end -->
  
    </div>
  </div>
  <!-- add modal end -->
  
