
<!-- add modal start -->
<div id="update" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Record Of Applicant CVs</h6>
        
      </div>
      <!-- Body start -->
      <div class="modal-body">
          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="start-date">Full Name</label>
                  <input type="text" class="form-control" id="name">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="start-date">Email</label>
                  <input type="email" class="form-control" id="email">
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label for="start-date">NIC</label>
                  <input type="text" class="form-control" id="nic">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="end-date">Age</label>
                  <input type="text" class="form-control" name="age" id="age">
                </div>
              </div>

              <div class="col-md-6">
                  <div class="form-group">
                    <label for="appointment-date">DOB</label>
                    <input type="text" class="form-control" mwlFlatpickr name="dob" id="dob" placeholder="dd/mm/yyyy">
                  </div>
                </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label for="end-date">Highest Educational Qualification</label>
                  <select class="form-control">
                    <option>Qualification 1</option>
                    <option>Qualification 2</option>
                  </select>
                </div>
              </div>

              
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Applied Post</label>
                  <select class="form-control">
                    <option>post1</option>
                    <option>post2</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="file-field">
                  <label for="exampleInputEmail1">Attach CV</label>
                  <br>
                  <div class="btn blue-gradient btn-sm float-left">

                    <input type="file" multiple>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Address</label>
                  <input type="textarea" class="form-control" name="address" id="address">
                </div>
              </div>

            </div>
      </div>
      <!-- Body end -->
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
      </div>
    </div>
    <!-- modal content end -->

  </div>
</div>
<!-- add modal end -->