<!-- Carry Forward leave request start -->
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <!-- Carry Forward leave request card header start -->
      <div class="card-header">
        <h5 class="card-title">Carry Forward Leave Request </h5>
         <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- Carry Forward leave request card-header end -->
      <div class="container-fluid">
        <!-- Carry Forward leave request card body start -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <!-- Carry Forward leave request form start -->
              <form role="form">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="Number-of-balance-annual-leave">Number of balance annual leave</label>
                      <input class="form-control" name="Number-of-balance-annual-leave" id="Number-of-balance-annual-leave">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="carry-forwarded">Number of leaves to be carry forwarded</label>
                      <input class="form-control" name="carry-forwarded" id="carry-forwarded">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Carry Forward leave request card body end -->
      <!--Add button Model-->
      <div class="card-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">Submit</button>
        &nbsp;
      </div>
      <!--Add button Model end-->
    </div>
  </div>
</div>

