<!-- request leave start -->
<div class="row">
  <div class="col-md-8">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Schedule Projects and Setup Projects</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="start-date">Name of the Project</label>
                        <input type="email" class="form-control" name="projectname" id="projectname">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="start-date">Project Manager Name</label>
                        <input type="email" class="form-control" id="managername" name="managername">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="appointment-date">Project Dead line</label>
                        <input type="text" class="form-control" mwlFlatpickr name="deadline" id="deadline" placeholder="dd/mm/yyyy">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="file-field">
                        <label for="exampleInputEmail1">Project phases and Mile stones</label>
                        <br>
                        <div class="btn blue-gradient btn-sm float-left">
                          <input type="file" multiple>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="file-field">
                        <label for="exampleInputEmail1">Attach gantt chart</label>
                        <br>
                        <div class="btn blue-gradient btn-sm float-left">
                          <input type="file" multiple>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- card body end -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary" data-toggle="modal">Add</button>
                </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>