hr.style18 { 
    height: 30px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
  } 
  hr.style18:before { 
    display: block; 
    content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
  }
  
  .deepshd {
    color: #e0dfdc;
    background-color: #fff;
    letter-spacing: .1em;
    /* text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9); */
  }

  h4.retroshadow {
    color: #2c2c2c;
    background-color: #fff;
    letter-spacing: 0.05em;
    padding-top: 45px;
    padding-left: 0px;
    padding-right: 0px;
    text-shadow: 4px 4px 0px #d5d5d5, 2px 2px 0px rgba(0, 0, 0, 0.2);
  }
  h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 15px;
    padding: 45px 48px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
  }
  
  .xbootstrap {
      padding-top: 40px;
    color: #202020;
    background-color: #fff;
    letter-spacing: .1em;
    /* text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636; */
  }
  
  h2 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 15px;
    padding: 45px 0px;
    text-align: left;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
  }
  
  
  .printSize {
    /* height: 29.7cm; */
    width: 21cm;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
  }