<div class="row">
    <div class="col-md-12">
      <div class="card">
  
        <!-- card header start -->
        <div class="card-header">
          <h5 class="card-title">View Applicant InterviewHistory</h5>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <!-- card header end -->
  
        <!-- card body start -->
        <div class="card-body">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
  
          <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort>
  
              <!-- column 1 start -->
              <ng-container matColumnDef="nameofevent">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Job Reference Number</mat-header-cell>
                <mat-cell *matCellDef="let viewwelfare"> {{viewwelfare.nameofevent}} </mat-cell>
              </ng-container>
              <!-- column 1 end -->
  
              <!-- column 2 start -->
              <ng-container matColumnDef="budjet">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Job title</mat-header-cell>
                <mat-cell *matCellDef="let viewwelfare"> {{viewwelfare.budjet}}</mat-cell>
              </ng-container>
              <!-- column 2 end -->
  
              <!-- column 3 start -->
              <ng-container matColumnDef="benificiaries">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Internal</mat-header-cell>
                <mat-cell *matCellDef="let viewwelfare"><a href="#" data-toggle="modal" data-target="#applicantsie"><span class="material-icons">visibility</span></a></mat-cell>
                <!-- <app-view-internal-external></app-view-internal-external> -->
              </ng-container>
              <!-- column 3 end -->
  
              &nbsp;
              <!-- column 4 start -->
              <ng-container matColumnDef="dateofevent">
                <mat-header-cell *matHeaderCellDef mat-sort-header>External</mat-header-cell>
                <mat-cell *matCellDef="let viewwelfare"><a href="#" data-toggle="modal" data-target="#applicantsie"><span class="material-icons">visibility</span></a></mat-cell>
              </ng-container>
              <!-- column 4 end -->
              &nbsp;
              <!-- column 4 start -->
              <ng-container matColumnDef="dateofevent1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Selected</mat-header-cell>
                <mat-cell *matCellDef="let viewwelfare"><a href="#"  data-toggle="modal" data-target="#applicantRejected"><span class="material-icons">visibility</span></a></mat-cell>
              </ng-container>
              <!-- column 4 end -->
              &nbsp;
              <!-- column 5 start -->
              <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Rejected</mat-header-cell>
                <mat-cell *matCellDef="let viewwelfare"> <a href="#" data-toggle="modal" data-target="#applicantRejected"><span class="material-icons">visibility</span></a></mat-cell>
              </ng-container>
              <!-- column 5 end -->
  
              <!-- column 6 start -->
              <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Delete</mat-header-cell>
                <mat-cell *matCellDef="let viewwelfare"> <a href="#" data-toggle="modal" data-target="" ><span style="color:red" class="material-icons">delete_forever</span></a></mat-cell>
              </ng-container>
              <!-- column 6 end -->
  
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
  
            <!-- pagination start -->
            <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]" showFirstLastButtons></mat-paginator>
            <!-- pagination end -->
          </div>
        </div>
        <!-- card body end -->
  
      </div>
    </div>
  </div>
 <app-view-interview-history-internal-external></app-view-interview-history-internal-external>
 <app-view-interview-history-selected-rejected></app-view-interview-history-selected-rejected>