
<div class="row">
  <div class="col-md-4">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Par History</h5>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">

          <div class="col-md-4">
            Date
          </div>
          <div class="col-md-8">
            : 01/11/2018
          </div>

          <div class="col-md-4">
            Par Score
          </div>
          <div class="col-md-8">
            : 1-5
          </div>

          <div class="col-md-4">
            Promotion
          </div>
          <div class="col-md-8">
            : Yes/No
          </div>

          <div class="col-md-4">
            Salary increment
          </div>
          <div class="col-md-8">
            : Yes/No
          </div>

          <div class="col-md-4">
            Remark
          </div>
          <div class="col-md-8">
            : Good in progress
          </div>

        </div>
      </div>

      <div class="card-footer">
          &nbsp;
      </div>
    </div>
  </div>
</div>