.btn {
    width: 70px;
    font-size: 13px !important;
}

input[type="color"] {   
    padding: 4px 20px 4px 20px;
    height: 39px;
    width: 100%;
}

.custom-calendar{
    height: 451px;
    overflow: scroll;
}

