<!-- Edit Model -->

<!-- add modal start -->
<div id="editgeneralwelmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">  
    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Edit Welfare Details</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <!-- form start -->
          <form role="form">

            <!-- card body start -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="start-date">Welfare ID</label>
                  <input type="email" class="form-control" id="id1" name="name1" disabled>
                </div>
              </div>
              
              <div>
                <div class="form-group">
                  <label for="end-date"> Welfare & Motivation</label>
                  <input type="text" class="form-control" name="name2" placeholder="Enter Welfare & Motivation ID">
                </div>
              </div>


              <div class="form-group">
                <label for="end-date"> Allocation Details</label>
                <textarea type="text" class="form-control" name="name2" placeholder="Enter Allocation Details"></textarea>
              </div>
            
            </div>
          </form>
          <!-- form end -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"> Update </button>
      </div>
    </div>
    <!-- modal content end -->

  </div>
</div>
<!-- edit modal end -->

<!-- delete model -->

<div class="container">
      
    
  
    <!-- The Modal -->
    <div class="modal fade" id="deletegeneralwelmodal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Delete welfare details?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            Are you want to delete allowance details?
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>