   <!-- 4th Form Start -->
   <div class="card">
      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Record of Employment</h5>
  
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->
  
      <!-- card body start -->
      <div class="card-body nopadding">
        <!-- form start -->
        <form role="form">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <!-- card body start -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name-school">Name of Work</label>
                      <input type="text" class="form-control" id="primary-year-form" placeholder="Name of Work">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Period Year</label>
                      <div class="row">
                        <div class="col-md-6">
                          <input type="text" class="form-control" id="school-from" placeholder="From">
                        </div>
                        <div class="col-md-6">
                          <input type="text" class="form-control" id="school-to" placeholder="To">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name-school">Address of Work</label>
                      <input type="text" class="form-control" id="primary-year-form" placeholder="Address of Work">
                    </div>
                  </div>
  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="school-subject">Designation of Work</label>
                      <input type="text" class="form-control" id="subject" placeholder="Designation of Work">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="school-subject">Type of Work</label>
                      <input type="text" class="form-control" id="subject" placeholder="Type of Work">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="reason-leaving">Reason for Leaving</label>
                      <textarea class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="leaving-salary">Leaving Salary</label>
                      <input type="text" class="form-control" id="leaving-salary" placeholder="Leaving Salary">
                    </div>
                  </div>
                </div>
                <!-- card body end -->
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" (click)="previous()" >Previous</button>
            &nbsp;
            <button type="button" class="btn btn-primary" (click)="next()" >Next</button>
            <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button> -->
          </div>
        </form>
        <!-- form end -->
      </div>
      <!-- card body end -->
    </div>
    <!-- 4th Form End -->