<!-- <app-header *ngIf="loggedIn === 'true'"></app-header>
<app-sidebar *ngIf="loggedIn === 'true'"></app-sidebar>
<app-dashboard *ngIf="loggedIn === 'true'"></app-dashboard>
<app-login *ngIf="loggedIn === 'false'"></app-login> -->

<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
    <div class="col-md-12">
        <div class="dashboard-top">
            <app-dashboard></app-dashboard>
        </div>
    </div>
</div>

<!-- <app-login></app-login> -->

<app-footer></app-footer>