<div class="card">
  <!-- card body start -->
  <!-- form start -->
  <form role="form">

    <!-- card body start -->
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Administration
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Knowledge of work
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Communication
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Managing change and improvements
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Decision making
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Punctuality
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Out of the box thinking
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Expense management
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Human resource management
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Leadership
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Team Work
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Personal appearance
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Dependability
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Safety
            <span>
              <mat-checkbox></mat-checkbox>
            </span>
          </li>
        </ul>
      </div>

    </div>
    <div class="card-footer footer-color">
        <button type="button" class="btn btn-primary">Send</button>
        <!-- &nbsp;
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Cancel</button> -->
      </div>
    <!-- card body end -->
  </form>
  <!-- form end -->
</div>