<!-- add modal start -->
<div id="accept-termination-confirm-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Termination Accept</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          Are you sure you want to accept ?
        </div>
      </div>
      <div class="modal-footer">
        
        <button type="button" class=" btn btn-primary btn-sm" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">No</button>
      </div>
    </div>
    <!-- modal content end -->

  </div>
</div>
<!-- add modal end -->
