<!--   Apply leave  start -->
<div class="row">
  <div class="col-md-4">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Add Grade </h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <!-- form start -->
              <form role="form">
                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="grade">Grade</label>
                        <input type="text" class="form-control" id="grade" name="grade" placeholder="A-D">
                      </div>
                    </div>    
                    
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="gradeValue">Grade Value</label>
                        <input type="text" class="form-control" id="gradeValue" name="gradeValue" placeholder="Grade Value">
                      </div>
                    </div>    
                    </div>
                  </div>
                <!-- card body end -->
                
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm-modal">Add</button>
          &nbsp;
          <button type="reset" class="btn btn-danger" >Reset</button>
        </div>
      <!-- card body end -->

    </div>
  </div>
</div>
<!-- apply leave end -->