<div class="row">
  <div class="col-md-11">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary ">
              <!-- form start -->
              <form role="form" #roleForm="ngForm">
                <div class="container-fluid">
                  <!-- card body start -->
                  <fieldset>
                    <legend></legend>
                    <div class="row add">
                      <div class="col-md-2">
                        <label for="exampleInputEmail1">Add Type</label></div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <input type="Number of copies " class="form-control" placeholder="Add SelfService Type" name="selfServiceTypeName"
                            [(ngModel)]="selfServiceTypeObj.selfServiceTypeName">
                        </div>
                      </div>
                      <!-- </div> -->
                      <div class="col-md-2">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal"
                          (click)="createSelfServiceType()">Add</button>
                      </div>
                    </div>
                    <div class="form-group">
                      <table class="table">
                        <tr>
                          <th>Self Service Type ID</th>
                          <th>Self Service Type</th>

                        </tr>
                        <tr *ngFor="let types of selfServiceType">
                          <td>{{types.id}}</td>
                          <td>{{types.selfServiceTypeName}}</td>
                          <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-modal"
                              (click)="getSelfServiceTypeById(types)">edit
                            </button>
                          </td>
                          <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delete-modal"
                              (click)="getSelfServiceTypeById(types)">Delete</button>
                          </td>
                        </tr>

                      </table>
                    </div>

                  </fieldset>
                </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>
      </div>
      <!-- card body end -->
    </div>
  </div>
</div>

<app-delet-type></app-delet-type>
<app-edit-type></app-edit-type>