<!--   Apply leave  start -->
<div class="row">
  <div class="col-md-8">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Request Leave </h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <!-- form start -->
              <form role="form">
                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="apply-leave-startdate">Start Date</label>
                        <input type="text" mwlFlatpickr class="form-control" id="apply-leave-startdate" name="apply-leave-startdate">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="apply-leave-enddate">End Date</label>
                        <input type="date"  class="form-control" name="apply-leave-enddate" id="apply-leave-enddate">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="apply-leave-NumberofDays">Number of Days</label>
                        <input type="text" class="form-control" name="apply-leave-NumberofDays" id="apply-leave-NumberofDays" disabled>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="apply-leave-TypeofLeave">Type of Leave</label>
                        <select class="form-control" id="apply-leave-TypeofLeave" name="apply-leave-TypeofLeave">
                          <option default hidden selected>--Select-Type-Of-Leave--</option>
                          <option value="Resignation">Annual</option>
                          <option value="Retirement">Casual</option>
                          <option value="Retirement">Medical</option>
                          <option value="Retirement">Metarnity</option>
                          <option value="Retirement">Company</option>
                          <option value="Retirement">Lieu</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="apply-leave-attachments">Attachments</label>
                        <input type="file" class="form-control" name="apply-leave-attachments" id="apply-leave-attachments" accept="file_extension">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="apply-leave-SendCopyto">Send Copy to</label>
                        <input type="text" class="form-control" name="apply-leave-SendCopyto" id="apply-leave-SendCopyto" placeholder=" Sent Copy to">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="apply-leave-reason">Reason</label>
                        <textarea type="textarea" class="form-control" rows="4" name="apply-leave-reason" id="apply-leave-reason" placeholder="Enter Reason"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- card body end -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm-modal">Sent</button>
                  &nbsp;

                </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>
<!-- apply leave end -->



