<div id="print-course-modal" class="modal fade " role="dialog">
    <div class="modal-dialog">
      <div class="row printStyle" >
        <!-- <div class=""> -->
        <div class="col-md-9 modal-content">
          <div class="card">
            <!-- form start -->
            <form role="form" >
              <!-- card body start -->
              <div class="card-body" style="text-align: center;align:center ">
                <div class="row">
                  <div class="row" style="padding-left:20px">
                    <div style="padding-top: 20px">
                      <h3 class="courseRecord"> Course Record </h3>
                    </div>
                    <div style="padding-left: 50px; padding-top: 6px">
                      <img src='\src\assets\logo.jpg' style="width: 130px; height: 80px">
                    </div>
                    <div>
                      <h4 class='retroshadow'>Samual Gnanam<br>IT Center</h4>
                    </div>
                  </div>
                </div>
                <hr class="style18" style="padding-top: 0px">
                <div class="row" >
                  <div class="col-md-2">
                    <p>Full Name</p>
                  </div>
                  <div class="col-md-4" style="padding-left: 40px">
                    <p> : SamualGnanam</p>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-2" style="padding-left: 0px;">
                    <p>Trinee Id</p>
                  </div>
                  <div class="col-md-4" >
                    <p> : SGIC2018</p>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-2" style="padding-left: 0px">
                    <p>Duration</p>
                  </div>
                  <div class="col-md-4">
                    <p> : 6 Months</p>
                  </div>
                </div>
  
              </div>
              <!-- card body end -->
              <div style="padding-left: 18px; padding-top: 25px">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Module ref</th>
                      <th scope="col">Title</th>
                      <th scope="col">Credit value</th>
                      <th scope="col">Hours</th>
                      <th scope="col">Grade</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Spring Boot</td>
                      <td>50</td>
                      <td>15</td>
                      <td>A</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Angular </td>
                      <td>40</td>
                      <td>10</td>
                      <td>A</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>MongoDB </td>
                      <td>20</td>
                      <td>05</td>
                      <td>B</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>JPA</td>
                      <td>10</td>
                      <td>05</td>
                      <td>A</td>
                    </tr>
                  </tbody>
                </table>
              </div>
  
  
              <div style="padding-top: 20px;padding-left: 18px">
  
                <div>
                  <p> The learner has qualified for the above award with grade <label for="funame">A</label> in December 2018.</p>
                </div>
              </div>
              <div class="row" style="padding-left: 45px">
                <div class="col-md-6">
                  ----------------------------
                </div>
                <div class="col-md-6" style="padding-left: 90px">
                  ----------------------------
                </div>
              </div>
              <div class="row" style="padding-left: 90px">
                <div class="col-md-6">
                  Director
                </div>
                <div class="col-md-6" style="padding-left: 105px">
                  HR Manager
                </div>
              </div>
            </form>
            <!-- form end -->
  
  
            <div class="modal-footer">
              <button type="button" onclick="printJS('printJS-form','html')">
                Print Form with Header
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>