<!--delete model start-->

<div id="delete-view-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="card-title">Conformation</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <!-- form start -->
            <form role="form">
              <!-- card body start -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="start-date"> Are you sure! want to Delete?</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card body end -->
            </form>
            <!-- form end -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal">No</button>
        </div>
      </div>
      <!-- modal content end -->
    </div>
  </div>
  <!--delete model end-->