<!--  add termination records start -->
<div class="row">
  <div class="col-md-8">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Add Termination Record</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="start-date">Employee Name</label>
                        <input type="text" class="form-control" id="termination-emp-name" name="termination-emp-name" placeholder="Employee Name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="end-date">Employee Number</label>
                        <input type="text" class="form-control" name="termination-emp-number" id="termination-emp-number" placeholder="Employee Number">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="leave-type">Type of Termination</label>
                        <select class="form-control" id="terminationType" name="terminationType">
                          <option default hidden selected>--Select-Type-Of-Termination--</option>
                          <option value="Resignation">Resignation</option>
                          <option value="Retirement">Retirement</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="end-date">Cause of Termination</label>
                        <input type="text" class="form-control" name="CauseofTermination" id="CauseofTermination" placeholder="Enter Cause of Termination">
                      </div>
                    </div>
                    
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="end-date">Disciplinary  Procedures/Actions</label>
                        <textarea type="textarea" class="form-control" name="Disciplinary-Procedures/Actions" id="Disciplinary-Procedures/Actions" placeholder="Enter Disciplinary  Procedures/Actions"></textarea>
                        </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="end-date">Legal Status</label>
                        <textarea type="text" class="form-control" name="termination-emp-number" id="termination-emp-number" placeholder=" Enter Legal Status"></textarea>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="end-date">Exit Interview</label>
                        <input type="file" class="form-control" name="ExitInterview" id="ExitInterview" placeholder="Exit Interview" accept="file_extension">
                        
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="end-date">Attachments</label>
                        <input type="file" class="form-control" name="LegalStatus" id="LegalStatus" placeholder="Attachments" multiple>
                       
  
                      </div>
                    </div>
                  </div>
                </div>
                <!-- card body end -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm-modal">Add</button>
                  &nbsp;
                  
                </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>
<!-- add termination record end -->


<!-- add modal start -->
<div id="confirm-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Add roles and responsibilities</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            Are you sure you want to add the record ?
          </div>
        </div>
        <div class="modal-footer">
          
          <button type="button" class=" btn btn-primary btn-sm" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">No</button>
        </div>
      </div>
      <!-- modal content end -->
  
    </div>
  </div>
  <!-- add modal end -->
  

