<!-- 2nd Form Start -->
<div class="card">
  <!-- card header start -->
  <div class="card-header">
    <h5 class="card-title">Enter final assesment score</h5>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-widget="remove">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
  <!-- card-header end -->

  <!-- card body start -->
  <div class="card-body nopadding">
    <!-- form start -->
    <form role="form">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <fieldset>
              <!-- <legend>Primary Education</legend> -->
              <!-- card body start -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Trainee number</label>
                    <input type="text" class="form-control" id="traineenumber" placeholder="Trainee number">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Trainee Name</label>
                      <input type="text" class="form-control" id="traineename" placeholder="Trainee Name">
                   </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="school-subject">Matrices Measured</label>
                    <input type="text" class="form-control" id="matricesmeasured" placeholder="Matrices Measured">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="school-year-graduation">Relevant score for the matrices</label>
                    <input type="text" class="form-control" id="relevantscromatrics" placeholder="Relevant score for the matrices">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="university-grading">Final Score</label>
                    <input type="text" class="form-control" id="finalscore" placeholder="Final Score">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="university-grading">Remarks</label>
                    <input type="text" class="form-control" id="remarks" placeholder="Remarks">
                  </div>
                </div>
              </div>
            </fieldset>

            <!-- card body end -->
          </div>
        </div>
      </div>
      <!-- card body end -->
      <div class="card-footer">
        <button type="button" class="btn btn-primary" >Add</button> &nbsp;
        <button type="button" class="btn btn-danger" >Cancel</button>

        <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button> -->
      </div>
    </form>
    <!-- form end -->
  </div>
</div>
<!-- 2nd Form End -->