<!-- add modal start -->
<div id="cdp-modal" class="modal fade">
  <div class="modal-dialog">

    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Add Skill Development Plan</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <!-- card body start -->

          <div class="card">
          <div class="card-body">
            <div class="row">

              <!-- form start -->
              <form role="form">

                
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="cdpId">Career Development Plan Id</label>
                    <input type="email" class="form-control" id="cdpId" name="cdpId" readonly>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="sdp">Skill Development Plan</label>
                    <input type="text" class="form-control" id="sdp" name="sdp">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-group">
                      <label for="status">Status</label>
                      <input type="text" class="form-control" name="status" value="Plan">
                    </div>
                  </div>
                </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>
          <!-- card end -->
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
    <!-- modal content end -->

  </div>
</div>
<!-- add modal end -->