

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title"> View Plan Vacancies</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="view">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Full Details </mat-header-cell>
              <mat-cell *matCellDef="let plan">
                <a href="#" data-toggle="modal" data-target="#viewall-view-plan-vacancies">{{plan.view}}<span class="material-icons">visibility</span></a></mat-cell>
            </ng-container>
           
            <!-- column 1 start -->
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">Job Tittle</mat-header-cell>
              <mat-cell *matCellDef="let plan"> {{plan.title}} </mat-cell>
            </ng-container>
            <!-- column 1 end -->

            <!-- column 1 start -->
            <ng-container matColumnDef="referencenumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">Ref.Number
              </mat-header-cell>
              <mat-cell *matCellDef="let plan"> {{plan.referencenumber}} </mat-cell>
            </ng-container>
            <!-- column 1 end -->
     
            <!-- column 2 start -->
            <ng-container matColumnDef="no">
              <mat-header-cell *matHeaderCellDef mat-sort-header> NO of vacancies</mat-header-cell>
              <mat-cell *matCellDef="let plan"> {{plan.no}}</mat-cell>
            </ng-container>
            <!-- column 2 end -->

            <!-- column 2 start -->
            <ng-container matColumnDef="department">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Department</mat-header-cell>
              <mat-cell *matCellDef="let plan"> {{plan.department}}</mat-cell>
            </ng-container>
            <!-- column 2 end -->

            <!-- column 2 start -->
            <ng-container matColumnDef="salary">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Salary scale</mat-header-cell>
              <mat-cell *matCellDef="let plan"> {{plan.salary}}</mat-cell>
            </ng-container>
            <!-- column 2 end -->
   
            
            <!-- <ng-container matColumnDef="start">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Opening date</mat-header-cell>
              <mat-cell *matCellDef="let plan"> {{plan.start}}</mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="end">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Closing date</mat-header-cell>
              <mat-cell *matCellDef="let plan"> {{plan.end}}</mat-cell>
            </ng-container> -->
        


            <ng-container matColumnDef="button">
              <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
              <mat-cell *matCellDef="let plan"> <button class="btn btn-primary" data-toggle="modal" data-target="#edit-view-plan-vacancies">Edit</button>
              &nbsp; &nbsp;  <button class="btn btn-danger" data-toggle="modal" data-target="#delete-view-plan-vacancies">Delete</button></mat-cell>
            </ng-container>

           
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <!-- pagination start -->
          <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
          <!-- pagination end -->
        </div>
      </div>
      <!-- card body end -->

    </div>
  </div>

  



  <app-delete-view-plan-vacancies></app-delete-view-plan-vacancies>
  <app-edit-view-plan-vacancies></app-edit-view-plan-vacancies>
  <app-viewall-view-plan-vacancies></app-viewall-view-plan-vacancies>