<!-- 5th Form Start -->
<div class="card">
    <!-- card header start -->
    <div class="card-header">
      <h5 class="card-title">add-referees</h5>
  
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-widget="remove">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <!-- card-header end -->
  
    <!-- card body start -->
    <div class="card-body">
      <!-- form start -->
      <form role="form">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <!-- card body start -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name-referee">Name</label>
                    <input type="text" class="form-control" id="name-referee" placeholder="Name ">
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="primary-year-form" placeholder="Address">
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="telephone">Telephone</label>
                    <input type="text" class="form-control" id="telephone" placeholder="Telephone No">
                  </div>
                </div>
  
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="relation">Relationship to the Employer</label>
                    <input type="text" class="form-control" id="relation" placeholder="Relationship to the Employer">
                  </div>
                </div>
              </div>
              <!-- card body end -->
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary" (click)="previous()">Previous</button>
          &nbsp;
          <button type="button" class="btn btn-primary" (click)="next()">Next</button>
          <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button> -->
        </div>
      </form>
      <!-- form end -->
    </div>
    <!-- card body end -->
  </div>
  <!-- 5th Form End -->