<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">View final assesment score</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <input type="text" class="form-control" id="matricesmeasured" placeholder="Trainee Number">
          </div>
          <div class="col-md-3">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchfinalassesment">Search</button>
          </div>
        </div>
        <br>
      </div>
      <!-- card body end -->
    </div>
  </div>
</div>

<!-- <app-view-final-assesment-score-model></app-view-final-assesment-score-model> -->