<!-- request leave start -->
<div class="row">
  <div class="col-md-11">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Complain</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary ">


              <!-- form start -->
              <form role="form">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Type</label>
                        <select class="form-control select2">
                          <option>Complain</option>
                          <option>Feedback</option>
                          <option>Request</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Relevant Department/ Individuals</label>
                        <input type="Number of copies " class="form-control" placeholder="Designation">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Date </label>
                        <input type="Number of copies " mwlFlatpickr class="form-control" placeholder="dd/mm/yyyy">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <textarea class="form-control" rows="3" cols="10"></textarea>
                      </div>
                    </div>

                    <div class="col-md-6">

                      <div class="form-group">
                        <label for="exampleInputEmail1">To whom </label>
                        <input type="Number of copies " class="form-control" placeholder="Enter Name">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Inform Individual </label>
                        <section>
                          <mat-checkbox>Yes</mat-checkbox>
                          <mat-checkbox>No</mat-checkbox>
                        </section>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Individual Involved </label>
                        <input type="Number of copies " class="form-control" placeholder="Individual name">
                      </div>
                    </div>
                  </div>



                  <div class="card-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">Send</button>
                    &nbsp;
                  </div>
                </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>

<!-- <app-add></app-add> -->


<!-- request leave end -->