



    <div class="card">

      <!-- card header start -->
     
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
       

              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="department">Department</label>
                        <input list="departmentList" class="form-control" name="department" id="department" placeholder="Select Department">
                        <datalist id="departmentList">
                          <option value="HR">
                          <option value="Accounts">
                          <option value="HR"></option>
                          <option value="Accounts"></option>
                        </datalist>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="possition">Possition</label>
                        <input list="possitionList" class="form-control" name="possition" id="possition" placeholder="Select Possition">
                        <datalist id="possitionList">
                          <option value="Admin">
                          <option value="Lead">
                          <option value="Architect">
                          <option value="Admin"></option>
                          <option value="Lead"></option>
                          <option value="Architect"></option>
                        </datalist>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="employeeName">Employee Name</label>
                        <input list="employeeList" class="form-control" name="employeeName" id="employeeName"
                          placeholder="Select Employee">
                        <datalist id="employeeList">
                          <option value="Raamu"></option>
                          <option value="Soomu"></option>
                          <option value="Keemu"></option>
                          <option value="Seemu"></option>
                          <option value="Heemu"></option>
                        </datalist>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="employeeId">Employee Id</label>
                        <input type="number" class="form-control" name="employeeId" id="employeeId" placeholder="Employee Id"
                          readonly>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- card body end -->

                <div class="card-footer footer-color">
                  <button type="button" class="btn btn-primary">Next</button>
                  <!-- &nbsp;
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Cancel</button> -->
                </div>
              </form>
              <!-- form end -->
         

      </div>
      <!-- card body end -->

    </div>

