<section class="content">
  <!-- tab content start -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1_content" aria-labelledby="tab1_content">
      <!-- <app-request-leave></app-request-leave> -->

      <!-- appoinment start -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <!-- card header start -->
            <div class="card-header">
              <h5 class="card-title">Leave History of #</h5>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-widget="remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <!-- card header end -->

            <!-- card body start -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <select matNativeControl id="empId" name="empId">                      
                      <option >
                        emp1
                      </option>
                      <option>
                        emp2
                      </option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput placeholder="Employee Name" id="empName" name="empName">
                  </mat-form-field>
                </div>

              </div>
              <div class="mat-elevation-z8 mb-3">
                <mat-table [dataSource]="dataSource" matSort>

                  <!-- column 1 start -->
                  <ng-container matColumnDef="typeOfLeave">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Type of Leave </mat-header-cell>
                    <mat-cell *matCellDef="let specificLeaveDetails"> {{specificLeaveDetails.typeOfLeave}} </mat-cell>
                  </ng-container>
                  <!-- column 1 end -->

                  <!-- column 2 start -->
                  <ng-container matColumnDef="appliedOn">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Applied On </mat-header-cell>
                    <mat-cell *matCellDef="let specificLeaveDetails"> {{specificLeaveDetails.appliedOn}}</mat-cell>
                  </ng-container>
                  <!-- column 2 end -->

                  <ng-container matColumnDef="acceptedOrRejected">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Accepted/Rejected </mat-header-cell>
                    <mat-cell *matCellDef="let specificLeaveDetails"> {{specificLeaveDetails.acceptedOrRejected}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="takenOn">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Taken on </mat-header-cell>
                    <mat-cell *matCellDef="let specificLeaveDetails"> {{specificLeaveDetails.takenOn}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="reason">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Reason </mat-header-cell>
                    <mat-cell *matCellDef="let specificLeaveDetails"> {{specificLeaveDetails.reason }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="noOfDays">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>No of Days</mat-header-cell>
                    <mat-cell *matCellDef="let specificLeaveDetails"> {{specificLeaveDetails.noOfDays}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="allocated">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Allocated </mat-header-cell>
                    <mat-cell *matCellDef="let specificLeaveDetails"> {{specificLeaveDetails.allocated}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="balance">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Balance </mat-header-cell>
                    <mat-cell *matCellDef="let specificLeaveDetails"> {{specificLeaveDetails.balance}}</mat-cell>
                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <!-- pagination start -->
                <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
                <!-- pagination end -->
              </div>
            </div>
            <!-- card body end -->
          </div>
        </div>
      </div>



    </div>




    <!-- <div class="tab-pane fade" id="tab2_content" aria-labelledby="tab2_content">
          <app-leave-history></app-leave-history>
        </div>
        <div class="tab-pane fade" id="tab3_content" aria-labelledby="tab3_content">
          <app-request-leave></app-request-leave>
        </div> -->
  </div>
  <!-- tab content end -->

</section>