<!-- EditModal -->
<div class="modal fade" id="edit-view-plan-vacancies" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class=" modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="vacUpdate">Update</h5>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="position">Job Title</label>
                <!-- <select><input type="text" class="form-control" name="position" id="position" placeholder="Enter Position"> -->
                <select class="form-control">
                  <option>Admin</option>
                  <option>Manager</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="medical-leave"> Job reference number</label>
                <input type="number" class="form-control" name="medical-leave" id="refnumber" placeholder="Job reference number"
                  readonly>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="name"> Hiring officer</label>
                <input type="text" class="form-control" name="name" id="hiringOfficer" placeholder="Enter Hiring officer Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="position">Hiring Department</label>
                <select class="form-control">
                  <option>HR</option>
                  <option>Accounting</option>
                </select>
              </div>
            </div>


            <div class="col-lg-4">
              <div class="form-group">
                <label for="position">Number of vacancies</label>
                <select class="form-control">
                  <option>1</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="position">Type of recruitment </label>
                <select class="form-control">
                  <option>Internal</option>
                  <option>External</option>
                </select>
              </div>
            </div>
          </div>


          <div class="row">

            <div class="col-sm-4">
              <div class="form-group">
                <label for="position">Salary scale</label>
                <input type="text" class="form-control" name="position" id="salaryScale" placeholder="Enter Salary scale">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="effect-date">Schedule date if any selection exam, interviews & placement</label>
                <input type="date" class="form-control" name="effect-date" id="schedule-date" placeholder="yyyy-mm-dd">
              </div>
            </div>

<div class="col-sm-4">
              <div class="form-group">
                <label for="effect-date">Job application Opening date</label>
                <input type="date" class="form-control" name="effect-date" id="open-date" placeholder="yyyy-mm-dd">
              </div>
            </div>
          </div>
          <div class="row">
            
            <div class="col-sm-4">
              <div class="form-group">
                <label for="effect-date">Job application End date</label>
                <input type="date" class="form-control" name="effect-date" id="end-date" placeholder="yyyy-mm-dd">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="name"> Key requirement</label>
                <textarea class="form-control" name="Address"  id="key-requirement" placeholder="Enter Key requirement"></textarea>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>

        </div>
      </div>
    </div>
  </div>
</div>