  <!-- 1st Form Start -->
  <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">General Information</h5>
  
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->
  
      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
  
              <!-- form start -->
              <form role="form">
  
                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control" id="fullName" placeholder="Enter your Fullname">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="emp-number">Employee Number</label>
                        <input type="text" class="form-control" id="emp-number" placeholder="Enter Employee Number">
                      </div>
                    </div>
  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="appointment-date">Appointment Date</label>
                        <input type="date" class="form-control" name="start-date" id="appointment-date" placeholder="dd/mm/yyyy">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="nationality">Nationality</label>
                        <input type="text" class="form-control" id="nationality" placeholder="Enter your Nationality">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="nic">NIC/Passport Number</label>
                        <input type="text" class="form-control" id="nic" placeholder="Enter your NIC/Passport Number ">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="religion">Religion</label>
                        <input type="text" class="form-control" id="religion" placeholder="Enter your Religion">
                      </div>
                    </div>
  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="fullName">Gender</label><br><br>
                        <mat-radio-group>
                          <mat-radio-button value="male">Male</mat-radio-button> &nbsp; &nbsp;
                          <mat-radio-button value="female">Female</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="date-of-birth"> Date of Birth</label>
                        <input type="date" class="form-control" name="start-date" id="date-of-birth" placeholder="dd/mm/yyyy">
                      </div>
                    </div>
  
  
  
  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="permanent-address">Permanent Address</label>
                        <textarea class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="residential-address">Residential Address</label>
                        <textarea class="form-control"></textarea>
                      </div>
                    </div>
  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="mobile">Mobile</label>
                        <input type="text" class="form-control" id="mobile" placeholder="Enter your Mobile Number">
                      </div>
                    </div>
  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="residential-number">Residential</label>
                        <input type="text" class="form-control" id="residential-number" placeholder="Enter your Residential Mobile Number">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Email Id</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter your Email">
                      </div>
                    </div>
  
  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="marital-status">Marital Status</label>
                        <input type="text" class="form-control" id="marital-status" placeholder="Enter your Marital Status">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="basic-salary">Basic Salary</label>
                        <input type="text" class="form-control" id="basic-salary" placeholder="Enter your Basic Salary">
                      </div>
                    </div>
  
  
  
  
  
                  </div>
                </div>
                <!-- card body end -->
  
                <div class="card-footer">
                  <button type="button" class="btn btn-primary" (click)="next()">Next</button>
                  &nbsp;
                  <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button> -->
                </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>
  
      </div>
      <!-- card body end -->
    </div>
    <!-- 1st Form End -->