<section class="content">
  <!-- tab content start -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1_content" aria-labelledby="tab1_content">
      <!-- <app-request-leave></app-request-leave> -->

      <!-- appoinment start -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <!-- card header start -->
            <div class="card-header">
              <h5 class="card-title">View Record Of Applicant CVs</h5>
              <div class="card-tools">
               
              </div>
            </div>
            <!-- card header end -->

            <!-- card body start -->
            <div class="card-body">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>

              <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort>

                  <!-- column 1 start -->
                  <ng-container matColumnDef="v_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </mat-header-cell>
                    <mat-cell *matCellDef="let records"> {{records.v_name}} </mat-cell>
                  </ng-container>
                  <!-- column 1 end -->

                  <!-- coloumn 2 start -->
                  <ng-container matColumnDef="v_email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                    <mat-cell *matCellDef="let records"> {{records.v_email}} </mat-cell>
                  </ng-container>
                  <!-- coloumn 2 end -->

                  <!-- column 3 start -->
                  <ng-container matColumnDef="v_nic">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> NIC </mat-header-cell>
                    <mat-cell *matCellDef="let records"> {{records.v_nic}}</mat-cell>
                  </ng-container>
                  <!-- column 3 end -->

                  <!-- column 4 start -->
                  <ng-container matColumnDef="v_dob">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
                    <mat-cell *matCellDef="let records"> {{records.v_dob}}</mat-cell>
                  </ng-container>
                  <!-- column 4 end -->
                  
                  <!-- column 5 start -->
                  <ng-container matColumnDef="v_qualification">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Qualification </mat-header-cell>
                    <mat-cell *matCellDef="let records"> {{records.v_qualification}}</mat-cell>
                  </ng-container>
                  <!-- column 5 end -->

                  <!-- column 6 start -->
                  <ng-container matColumnDef="v_location">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
                    <mat-cell *matCellDef="let records"> {{records.v_location}}</mat-cell>
                  </ng-container>
                  <!-- column 6 end -->

                  <!-- column 7 start -->
                  <ng-container matColumnDef="v_post">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Applied Post </mat-header-cell>
                    <mat-cell *matCellDef="let records"> {{records.v_post}}</mat-cell>
                  </ng-container>
                  <!-- column 7 end -->

                  <!-- column 8 start -->
                  <ng-container matColumnDef="v_cv">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> CV </mat-header-cell>
                    <mat-cell *matCellDef="let records"><a href="">{{records.v_cv}}</a> </mat-cell>
                  </ng-container>
                  <!-- column 8 end -->

                 

                  <!-- coloumn 11 start -->
                  <ng-container matColumnDef="v_edit">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                    <mat-cell *matCellDef="let records"> <button class="btn btn-primary" data-toggle="modal"
                        data-target="#update">Edit</button>&nbsp;&nbsp;
                        <button class="btn btn-danger" data-toggle="modal"
                       data-target="#delete1">Delete</button>
                      </mat-cell>
                  </ng-container>
                  <!-- coloumn 11 end -->

                  <!-- coloumn 12 start -->
                  <!-- <ng-container matColumnDef="v_delete">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                    <mat-cell *matCellDef="let records"> </mat-cell>
                  </ng-container> -->
                  <!-- coloumn 12 end -->


                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

               

                
            
                <!-- pagination start -->
                <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
                <!-- pagination end -->
              </div>
            </div>
            <!-- card body end -->
          </div>
        </div>
      </div>



    </div>




    <!-- <div class="tab-pane fade" id="tab2_content" aria-labelledby="tab2_content">
            <app-leave-history></app-leave-history>
          </div>
          <div class="tab-pane fade" id="tab3_content" aria-labelledby="tab3_content">
            <app-request-leave></app-request-leave>
          </div> -->
  </div>
  <!-- tab content end -->

</section>



<app-edit-view-record-applicant-cv></app-edit-view-record-applicant-cv>
<app-delete-view-record-applicant-cv></app-delete-view-record-applicant-cv>