<!-- plan discussion modal start -->
<div id="plan-discucussion" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Plan Discussion</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <!-- form start -->
          <form role="form">

            <!-- card body start -->
            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <label for="start-date">Time</label>
                  <input type="text" class="form-control" id="id1" name="name1">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="end-date">Venue</label>
                  <input type="text" class="form-control" name="venue" id="venue">
                </div>
              </div>

              <div class="col-md-6" id='TextBoxesGroup'>
                <div class="form-group" id='TextBoxDiv1'>
                  <label for="appraisers">Indivduals</label>
                  <input type="text" class="form-control" name="indivdulas" id='indivduals'>
                </div>
              </div>

              <div style="padding-top:35px">                
                <span class="fa fa-plus-circle big-icon" aria-hidden="true" id='addButton'></span>
                &nbsp;
                <span class="fa fa-minus-circle big-icon1" aria-hidden="true" id='removeButton'></span>                
              </div>
            </div>
          </form>
          <!-- form end -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
    <!-- modal content end -->

  </div>
</div>
<!-- plan discussion modal end -->

