<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Plan Vacancies</h5>

      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <div>

                <!-- card body start -->
                <div class="card-body">

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="position">Job Title</label>
                        <!-- <select><input type="text" class="form-control" name="position" id="position" placeholder="Enter Position"> -->
                        <select class="form-control">
                          <option>Admin</option>
                          <option>Manager</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="medical-leave"> Job reference number</label>
                        <input type="number" class="form-control" name="medical-leave" id="medical-leave" placeholder="Job reference number"
                          readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="name"> Hiring officer</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Hiring officer Name">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="position">Hiring Department</label>
                        <select class="form-control">
                          <option>HR</option>
                          <option>Accounting</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="position">Number of vacancies</label>
                        <select class="form-control">
                          <option>1</option>
                          <option>5</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="position">Type of recruitment </label>
                        <select class="form-control">
                          <option>Internal</option>
                          <option>External</option>
                        </select>
                      </div>
                    </div>
                  </div>


                  <div class="row">

                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="position">Salary scale</label>
                        <input type="text" class="form-control" name="position" id="position" placeholder="Enter Salary scale">
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label for="effect-date">Schedule date if any selection exam, interviews & placement</label>
                          <input type="date" class="form-control" name="effect-date" id="effect-date" placeholder="yyyy-mm-dd">
                        </div>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="effect-date">Job application Opening date</label>
                        <input type="date" class="form-control" name="effect-date" id="effect-date" placeholder="yyyy-mm-dd">
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label for="effect-date">Job application End date</label>
                          <input type="date" class="form-control" name="effect-date" id="effect-date" placeholder="yyyy-mm-dd">
                        </div>
                      </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="name"> Key requirement</label>
                      <textarea class="form-control" name="Address" placeholder="Enter Key requirement"></textarea>
                    </div>
                  </div>

                </div>
                <!-- card body end -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">Add</button>

                </div>
              </div>
              <!-- form end -->
            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->
    </div>
  </div>
</div>



