
    <!-- 3rd Form Start -->
    <div class="card">
        <!-- card header start -->
        <div class="card-header">
          <h5 class="card-title">Professional Qualification</h5>
  
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <!-- card-header end -->
  
        <!-- card body start -->
        <div class="card-body nopadding">
          <form role="form">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
  
                  <!-- form start -->
  
                  <fieldset>
                    <!-- card body start -->
                    <legend>Professional Qualification</legend>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name-school">Name of School</label>
                          <input type="text" class="form-control" id="primary-year-form" placeholder="Name of School">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="">Period Year</label>
                          <div class="row">
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="school-from" placeholder="From">
                            </div>
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="school-to" placeholder="To">
                            </div>
                          </div>
                        </div>
                      </div>
  
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="school-subject">Subject Examinations Passed</label>
                          <input type="text" class="form-control" id="subject" placeholder="Enter Subject Examinations Passed">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="university-grading">Subject offered & Grading</label>
                          <input type="text" class="form-control" id="university-grading" placeholder="Subject offered & Grading">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name-university">Name of UniverSity/Institution</label>
                          <input type="text" class="form-control" id="primary-year-form" placeholder="Name of University/Institution">
                        </div>
                      </div>
  
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="univesity-period">Period Year</label>
                          <div class="row">
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="university-from" placeholder="From">
                            </div>
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="university-to" placeholder="To">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="university-subject">Subject Examinations Passed</label>
                          <input type="text" class="form-control" id="university-subject" placeholder="Enter Subject Examinations Passed">
                        </div>
                      </div>
  
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="university-grading">Subject offered & Grading</label>
                          <input type="text" class="form-control" id="university-grading" placeholder="Subject offered & Grading">
                        </div>
                      </div>
                    </div>
                    <!-- card body end -->
  
  
  
                  </fieldset>
                  <fieldset>
                    <!-- card body start -->
                    <legend>Professional Memberships</legend>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name-school">Name of School</label>
                          <input type="text" class="form-control" id="primary-year-form" placeholder="Name of School">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="">Period Year</label>
                          <div class="row">
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="school-from" placeholder="From">
                            </div>
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="school-to" placeholder="To">
                            </div>
                          </div>
                        </div>
                      </div>
  
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="school-subject">Subject Examinations Passed</label>
                          <input type="text" class="form-control" id="subject" placeholder="Enter Subject Examinations Passed">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="university-grading">Subject offered & Grading</label>
                          <input type="text" class="form-control" id="university-grading" placeholder="Subject offered & Grading">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name-university">Name of UniverSity/Institution</label>
                          <input type="text" class="form-control" id="primary-year-form" placeholder="Name of University/Institution">
                        </div>
                      </div>
  
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="univesity-period">Period Year</label>
                          <div class="row">
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="university-from" placeholder="From">
                            </div>
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="university-to" placeholder="To">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="university-subject">Subject Examinations Passed</label>
                          <input type="text" class="form-control" id="university-subject" placeholder="Enter Subject Examinations Passed">
                        </div>
                      </div>
  
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="university-grading">Subject offered & Grading</label>
                          <input type="text" class="form-control" id="university-grading" placeholder="Subject offered & Grading">
                        </div>
                      </div>
                    </div>
                    <!-- card body end -->
  
  
  
                  </fieldset>
                  <!-- card body end -->
  
  
  
  
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary" (click)="previous()" >Previous</button>
              &nbsp;
              <button type="button" class="btn btn-primary" (click)="next()" >Next</button>
              <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button> -->
            </div>
          </form>
          <!-- form end -->
        </div>
        <!-- card body end -->
      </div>
      <!-- 3rd Form End -->