
    <div class="card">
      <!-- card body start -->
              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="dueDate">Due Date</label>
                        <input type="date" class="form-control" id="dueDate" placeholder="yyyy-mm-dd">
                      </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-6" id='TextBoxesGroup'>
                        <div class="form-group" id='TextBoxDiv1'>
                          <label for="appraisers">Appraisers No 1</label>
                          <input type="text" class="form-control" id='textbox1' placeholder="Appraisers">
                        </div>
                      </div>
  
                      <div style="padding-top:35px">
                        <!-- <button type="button" class="btn btn-primary" id='addButton'>+</button>
                        &nbsp; -->
                        <span class="fa fa-plus-circle big-icon" aria-hidden="true" id='addButton'></span>
                        &nbsp;
                        <span class="fa fa-minus-circle big-icon1" aria-hidden="true" id='removeButton'></span>
                        <!-- <button type="button" class="btn btn-primary" id='removeButton'>-</button> -->
                      </div>
                 </div>
                </div>
                <!-- card body end -->

                <div class="card-footer footer-color">
                    <button type="button" class="btn btn-primary">Next</button>
                    <!-- &nbsp;
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Cancel</button> -->
                  </div>
              </form>
              <!-- form end -->

      <!-- card body end -->

    </div>
